.container {
    display: grid;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    padding: 2rem;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 2rem;
}

.form {
    display: grid;
    gap: 1rem;
}