.wrapper {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.actions-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}