.container {
    display: flex;
    /* top: 1rem; */
    width: fit-content;
    align-items: center;
    padding: 0.5rem;
    background-color: #f7f8f9;
    /* margin-left: auto; */
    border: 1px solid #d1d1d1;
    border-radius: 999rem;
}

.container ul {
    display: flex;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}