:root {
    --dark-font-color: #121212;
    --light-font-color: #f7f8f9;
    --body-color: #f1f1f1;
}

* {
    box-sizing: border-box;
    font-family: var(--figtree);
}

body {
    background-color: var(--body-color);
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}