.input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #d1d1d1;
    border-radius: 0.25rem;
    transition: all 0.3s;
}

.input:hover {
    border-color: #b1b1b1;
}

.input:focus {
    outline: none;
    border-color: #121212;
}